<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069663818145-d49nf8dadhdcbqaio1r45j5ifr94fqi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069663818145-d49nf8dadhdcbqaio1r45j5ifr94fqi8</string>
	<key>API_KEY</key>
	<string>AIzaSyDrM7Uzu446ver7Jd7i-uQV0o8mt6DLj24</string>
	<key>GCM_SENDER_ID</key>
	<string>1069663818145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soilmaster</string>
	<key>PROJECT_ID</key>
	<string>soil-master-b6b9d</string>
	<key>STORAGE_BUCKET</key>
	<string>soil-master-b6b9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069663818145:ios:fac25394dfb3a16f28bbe0</string>
</dict>
</plist>